
/* NEW COLOR SCEME: #12130F, #5B9279, #8FCB9B, #EAE6E5, #8F8073 */

.topBar{
    background-color: #5B9279;
    font-family: ‘Ubuntu’, sans-serif;
    color: #EAE6E5;
}
.logoTop{
    font-family: ‘Ubuntu’, sans-serif;
    color: #EAE6E5; 
}
.carousel-caption{
    position: absolute;
    top: 50px;
    left: 50%;
    /* his will move it 50% of it's OWN width to the left */
    transform: translateX(-50%);
}

.carousel-caption > h1{
    font-size: 10.5rem;
}

.carousel-caption > p{
    font-size: 2.5rem;
}
.transitionElement{
    font-family: ‘Ubuntu’, sans-serif;
}
.carousel-item{
    min-height: 500px;
    background-size: cover;
    background-position: center;
}
/* .carousel-item img {
    object-fit: contain;
} */


.textFont{
    font-family: ‘Ubuntu’, sans-serif;
}
 /* .theImages{
     height: 100px;
 } */
 #sportsLink{
    color: blue;
 }
 
 #jumboStyling{
    background-color: #03A6A6;
    border-radius: 0px;
    /* background: url(“./testBackground.jpg”);      HOW TO CENTER AND STRETCH? */
 
 }
 
 #gallery{
    background-color: #072040;
 
 }
 
 #code{
    color: rgb(233, 148, 0);
 }
 
 .gooFont{
    font-family: ‘Ubuntu’, sans-serif;
 }
body{
    background-color: #EAE6E5;
    font-family: ‘Ubuntu’, sans-serif;

}

.login{
    pointer-events: none;
}

/* .row > div{
    background-color: transparent;
    border: 2px solid black;
} */
.safetyScore, .key {
    border: 2px solid blue;
}
.footerDiv{
    background-color: #8F8073;
}

.footColor{
    color: white;
}


#map_holder{
    height: 400px;
    width: 400px;
}
/* #myChart {
    width: 600px !important;
    height: 400px !important;
} */

/* 
Color Scheme
#7CDEDC teal blue
#7284A8 light navy blue
#474954 light black, called outspace

OR THIS...
#12130F
#5B9279
#8FCB9B
#EAE6E5
#8F8073
*/

